.eteam-tooltips {
	padding: 0;
	margin: -12.2em auto 3em;
	box-shadow: 0 10px 25px rgba( 0, 0, 0, 0.1 );
}

.eteam-tooltips li {
	position: relative;
	height: 249px;
}

.eteam-tooltips .tooltip-title {
	position: absolute;
	left: 48px;
	top: 40px;
	font-size: 1.6rem;
	color: #ffffff;
}

.eteam-tooltips .tooltip-arrow {
	position: absolute;
	top: 80px;
	left: 48px;
	z-index: 10;
	display: block;
	width: 40px;
	height: 12px;
	background: url('../img/btn-arrow.png') no-repeat center center;
}

.eteam-tooltips li .tooltip-arrow {
 	-ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.eteam-tooltips li:hover .tooltip-arrow {
 	-ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-perspective: 40px;
    perspective: 40px;
}

.eteam-tooltips .tooltip.tooltip-open .tooltip-arrow {
	display: none;
}

.eteam-tooltips .tooltip .tooltip-title {
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.eteam-tooltips .tooltip.tooltip-open .tooltip-title {
	opacity: 0;
}

.eteam-tooltips li > img,
.eteam-tooltips .content {
	float: left;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.eteam-tooltips .content {
	background-color: #f1f1ea;
	position: relative;
	width: 360px;
	height: 249px;
	padding: 40px 29px 0 29px;
}

.eteam-tooltips .tooltip-open .content:before {
	content: '';
	background: url('../img/tooltip-arrow.png') no-repeat center center;
	position: absolute;
	display: inline-block;
	left: -20px;
	top: 39px;
	width: 31px;
	height: 42px;
}

.eteam-tooltips .content h3 {
	padding: 0;
	margin: 0 0 0.5em;
	font-size: 1.875rem;
	font-weight: 400;
}

.eteam-tooltips .content p {
	font-size: 0.875rem;
}

.eteam-tooltips .content a {
	color: #1a6095;
}

.eteam-tooltips .content a {
	color: #1a6095;
}