.eteam-advanced-tab-container {
	width: 100%;
	position: relative;
}

.eat-navigation {
	z-index: 5;
	position: absolute;
	width: 595px;
	left: 220px;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 90px 0 0 100px;
	background: rgba( 0, 0, 0, 0.5);
}

.eat-navigation li {
	list-style: none;
	line-height: 1;
	margin: 0 0 3.2em;
	position: relative;
}

.eat-navigation .current:after {
	content: '';
	width: 127px;
	height: 1px;
	background-color: #ffffff;
	position: absolute;
	right: -63px;
	top: 65%;
}

.eat-navigation li > a {
	font-size: 2.5rem;
	color: #7d7e7d;
	line-height: 1;
}

.eat-navigation .current > a,
.eat-navigation li:hover > a {
	color: #f29232;
}

.eat-navigation .current .static-image,
.eat-navigation a:hover .static-image {
	display: none;
}

.eat-navigation a .hover-image {
	display: none;
}

.eat-navigation .current .hover-image,
.eat-navigation a:hover .hover-image {
	display: inline-block;
}

.eat-navigation a > img {
	margin-right: 0.5em;
	position: relative;
	top: 15px;
}

.eat-content-wrapper:before {
	content: '';
	position: absolute;
	top: -34px;
	left: 50%;
	width: 1px;
	height: 78px;
	background: #f29232;
	z-index: 6;
}

.eat-content {
	display: none;
	min-height: 689px;
	position: relative;
}

.eat-content.current {
	display: block;
}

.tab-content-inner {
	position: absolute;
	width: 575px;
	left: 56%;
	top: 15%;
	color: #ffffff;
}

.tab-content-inner h3 {
	color: #ffffff;
	font-size: 2rem;
	line-height: 0.7;
	display: inline-block;
	padding: 0;
	margin: 0 0 1em;
}

.tab-content-inner h3:after {
	content: '';
	display: inline-block;
	background: #ffffff;
	width: 100%;
	height: 1px;
}

.tab-content-inner h5 {
	font-size: 1.5rem;
	line-height: 1.4;
	color: #ffffff;
	font-weight: 600;
	margin: 0 0 1.3em;
}

.tab-content-inner,
.tab-content-inner p {
	font-size: 1.125rem;
	font-weight: 300;
}