.eteam-list-icons > span {
	font-weight: 600;
	font-size: 1rem;
	color: #000000;
}

.eteam-list-icons ul {
	padding: 0;
	margin: 0.5em auto 6em;
	list-style: none;
}

.eteam-list-icons li {
	float: left;
	width: 269px;
	height: 72px;
	border: 1px solid #b2cbdb;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	text-align: center;
	-webkit-box-shadow: 0 4px 7px rgba( 0, 0, 0, 0.1 );
	-moz-box-shadow: 0 4px 7px rgba( 0, 0, 0, 0.1 );
	margin-right: 5.9em;
	margin-bottom: 1.8em;
	box-shadow: 0 4px 7px rgba( 0, 0, 0, 0.1 );
	text-align: left;
}

.eteam-list-icons li > a {
	display: block;
	padding: 0.6em 0.86em 0;
}

.list-icon-media {
	float: left;
	margin-right: 20px
}

.list-icon-text {
	display: table-cell;
	line-height: 1.2;
	vertical-align: middle;
	height: 54px;
	text-align: left;
	text-transform: uppercase;
	color: #000000;
	font-weight: 600;
	font-size: 1rem;
}