.eteam-list-links {
	font-size: inherit;
}

.eteam-list-links ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style: none;
}

.eteam-list-links li {
	list-style: none;
	display: inline-block;
	margin-right: 1.5em;
	margin-bottom: 1.2em;
}

.eteam-list-links li a {
	font-weight: 700;
}

.eteam-list-links li a:hover {
	color: #ba0000;
}

.eteam-list-links .bullet-arrow {
	display: inline-block;
	background: transparent url('../img/blue-arrow.png') no-repeat center center;
	width: 14px;
	height: 10px;
	margin-right: 0.4em;
}

.eteam-list-links.tinymce-ext-plugins li {
	padding-left: 21px;
	background: transparent url('../img/blue-arrow.png') no-repeat center left;
}